@model Atividade_1.Models.PersonViewModel

@{
    ViewData["Title"] = "Currículo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="cabecalho" style="margin-top: 20px; text-align: center">
    <h1 style="font-weight: bold">@Html.DisplayFor(model => model.NAME)</h1>
    <div style="display: flex; justify-content: center; color: #595959">
        <h5>@Html.DisplayFor(model => model.HOME_ADDRESS) · </h5>
        <h5>@Html.DisplayFor(model => model.TELEPHONE) · </h5>
        <h5>@(DateTime.Now.Year - Model.DATE_OF_BIRTH.Year) anos</h5>
    </div>
    <h5 style="color: #009e4a; margin: 0">@Html.DisplayFor(model => model.EMAIL_ADDRESS)</h5>
</div>
<hr />
<div class="body" style="margin-left: 15vw">
    <div class="experiencia">
        <h4 style="color: #262626; font-weight: bold">Experiência</h4>
        <div id="experiencia-itens" class="experiencia-itens" style="border-left: dotted 4px #BEBEBE; margin-left: 3px; margin-top: 20px;">
            <div class="item-experiencia" style="margin-left: 40px;">
                aaa
            </div>
        </div>
    </div>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CPF)
        </dt>
        <dd id="CPF">
            @Html.DisplayFor(model => model.CPF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DATE_OF_BIRTH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DATE_OF_BIRTH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HOME_ADDRESS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HOME_ADDRESS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TELEPHONE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TELEPHONE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMAIL_ADDRESS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMAIL_ADDRESS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PRETENSION_SALARY)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PRETENSION_SALARY)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.INTENDED_POSITION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.INTENDED_POSITION)
        </dd>
        <dt>
            Data Inicio
        </dt>
        <dd id="DataInicio">

        </dd>
        <dt>
            Data Conclusao
        </dt>
        <dd id="DataConclusao">

        </dd>
        <dt>
            Nome Escola
        </dt>
        <dd id="NomeEscola">

        </dd>
        <dt>
            Curso
        </dt>
        <dd id="Curso">

        </dd>
        <dt>
            Nome Companhia
        </dt>
        <dd id="NomeCompanhia">

        </dd>
        <dt>
            Posição Anterior
        </dt>
        <dd id="PosicaoAnterior">

        </dd>
        <dt>
            Salário Anterior
        </dt>
        <dd id="salarioAnterior">

        </dd>
        <dt>
            Idioma
        </dt>
        <dd id="idioma">

        </dd>
        <dt>
            Nome Escola de Idiomas
        </dt>
        <dd id="nomeEscolaIdiomas">

        </dd>

    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
<script>
    var CPF = $('#CPF').Val();
    $(document).ready(function () {
        $.ajax({
            url: '/ExperienceController/Details',
            type: 'GET',
            data: { id: CPF },
            success: function (response) {
                if (response.success) {

                }
            },
            error: function (response) {

            }
        })
    });
    $.ajax({
        url: '/PersonController/Details',
        type: 'GET',
        data: { id: CPF }
        success: function (response) {
            if (response.success) {

            }
        },
        error: function (response) {

        }
    })
    $.ajax({
        url: '/EducationalController/Details',
        type: 'GET',
        data: { id: CPF }
        success: function (response) {
            if (response.success) {

            }
        },
        error: function (response) {

        }
    })

    $.ajax({
        url: '/LanguageController/Details',
        type: 'GET',
        data: { id: CPF }
        success: function (response) {
            if (response.success) {

            }
        },
        error: function (response) {

        }
    })
</script>
